/* You can add global styles to this file, and also import other style files */
/* Reset margin and padding for the entire page */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aca8a8;
}
