<div *ngIf="loading" class="loading-container">
    <p class="loading-text">Loading specifications...</p>
  </div>
  
  <div *ngIf="error" class="error-container">
    <p class="error-text">{{ error }}</p>
  </div>
  
  <div *ngIf="!loading && specsData.length > 0" class="specs-container">
    <!-- Updated heading -->
    <h2 class="specs-heading">Specialization for: {{ educationTitle | uppercase }}</h2>
  
    <div *ngFor="let spec of specsData" class="spec-card">
        <!-- Make the spec card clickable to navigate to the course details page -->
        <div class="spec-card-content" [routerLink]="['/course', spec.id,spec.specsName]">
          <h3 class="spec-name">{{ spec.specsName }}</h3>
          <p class="spec-description">{{ spec.description }}</p>
          <p class="spec-description">{{ spec.duration }}</p>
        </div>
      </div>
  
  <ng-template #noData>
    <p class="no-data">No specifications available for this education.</p>
  </ng-template>
  