<div class="page-wrapper">
  <div id="lottie-container"></div>

    <div class="content">
      <div class="content-wrapper">
        <div class="mit-tec-forlob">
          <h2>Mit TEC Forløb</h2>
        </div>

      <div class="button-group">
        <!-- Button for EUD page -->
        <button class="main-button" [routerLink]="['/education', 'eud']">EUD</button>
    
        <!-- Button for EUX page -->
        <button class="main-button" [routerLink]="['/education', 'eux']">EUX</button>
      </div>
    </div>
  </div>
</div>
